* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: Roboto;
    font-weight: 400;
}
.steps, .content, .step {display:flex}
.steps, .content {flex-direction: column}
.step {flex-direction: row}